<div class="content-wrapper">
  <div class="py-5 bg-space-image">
    <div class="py-5 text-center">
      <h1 class="fs-1 text-white fw-bold pt-5">Web Development</h1>
      <p class="fs-5 text-white fw-bold pb-5">code with infinitidev</p>
    </div>
  </div>
  <% @courses.each do |course|%>
    <div class="<%= course.title == 'HTML' ? 'bg-primary-subtle' : course.title == 'CSS' ? 'bg-warning-subtle' : course.title == 'JavaScript' ? 'bg-danger-subtle' : '' %>">
      <div class="container">
        <div class="py-5 row d-lg-flex align-items-center justify-content-center">
          <div class="text-center col-lg-6">
            <h2 class="fs-1 fw-bold"><%= course.title %></h2>
            <p class="fw-bold"><%= course.description %></p>
            <div><%= link_to "Lessons", course_path(course), class: 'btn btn-secondary text-white rounded-pill fw-bold mb-3' %></div>
            <% if course.user == current_user %>
              <div class="btn bg-success text-white rounded-pill fw-bold mb-3">Already Joined</div>
            <% else %>
              <%= button_to "Join Course", join_course_path(course), method: :post, class: 'btn btn-primary rounded-pill fw-bold mb-3' %>
            <% end %>
            <% course.code_snippets.each do |code_snippet| %>
              <% if code_snippet %>
               <div> <%= link_to "Code Snippet", preview_code_snippet_path(code_snippet), data: { turbo: false }, class: "btn bg-dark text-white rounded-pill fw-bold" %> </div>
              <% end %>
            <% end %>
          </div>
          <%= course.example_code.html_safe %>
        </div>
      </div>
    </div>
  <% end %>
</div>
