<div class="container">
  <div class="card border-0">
    <div class="card-title text-center my-3 bg-secondary-subtle py-3">
      <h1>Users</h1>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Photo</th>
              <th>Email</th>
              <th>Joined Courses</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |student| %>
              <tr>
                <td><%= student.username %></td>
                <td class="text-center"><%= image_tag student.avatar , width: 70 , height: 70 , class:'rounded-circle' %></td>
                <td><%= student.email %></td>
                <td>
                  <ul>
                    <% student.courses.each do |course| %>
                      <li><%= course.title %></li>
                    <% end %>
                  </ul>
                </td>
                <td>
                  <%= link_to "Show", student %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
