<div class="container">
  <div class="card border-0">
    <div class="card-title text-center my-3 bg-secondary-subtle py-3">
      <h1>Students</h1>
    </div>
    <div class="dropdown text-end">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        View List In
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Table', users_path(view_type: 'table'), class: 'dropdown-item' %></li>
        <li><%= link_to 'Card', users_path(view_type: 'card'), class: 'dropdown-item' %></li>
      </ul>
    </div>
    <div class="card-body">
      <% if params[:view_type].present? && params[:view_type] == 'table' %>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Photo</th>
                <th>Email</th>
                <th>Courses</th>
                <th>Page Link</th>
                <th>Repository Link</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @students.each do |student| %>
                <tr>
                  <td><%= student.username %></td>
                  <td class="text-center">
                    <%= image_tag student.avatar, width: 70, height: 70, class: 'rounded-circle' %>
                  </td>
                  <td><%= student.email %></td>
                  <td>
                    <ul>
                      <% student.courses.each do |course| %>
                        <li><%= course.title %></li>
                      <% end %>
                    </ul>
                  </td>
                  <td>
                    <span class="lead"><%= link_to "Page", student.page_link, target: '_blank', class:'btn btn-primary btn-small p-1 fw-bold mx-1', style:'font-size: 0.875rem;' %></span>
                  </td>
                   <td>
                    <span class="lead"><%= link_to "Repository", student.repository_link, target: '_blank', class:'btn btn-primary btn-small p-1 fw-bold mx-1', style:'font-size: 0.875rem;' %></span>
                  </td>
                  <td>
                    <%= link_to "Show", student %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="row align-items-stretch">
          <% @students.each do |student| %>
            <div class="col-md-6 col-lg-4 mb-3">
              <div class="card h-100 d-flex flex-column">
                <div class="card-title d-flex gap-3 align-items-center m-3">
                  <div class="text-center">
                    <%= link_to student do %>
                      <%= image_tag student.avatar, width: 70, height: 70, class: 'rounded-circle' %>
                    <% end %>
                  </div>
                  <div>
                  <div class="fw-bold lead"><%= student.username %></div>
                  <div class="text-muted" style="font-size: 0.875rem;"><%= student.email %></div>
                  </div>
                </div>
                <div class="card-body d-flex justify-content-between">
                  <div> 
                     <h5> Courses</h5>
                    <ul>
                      <% student.courses.each do |course| %>
                        <li><%= course.title %></li>
                      <% end %>
                    </ul>
                  </div>
                  <div>
                    <h5>Work</h5>
                    <span class="lead"><%= link_to "Page", student.page_link, target: '_blank', class:'btn btn-primary btn-small p-1 fw-bold mx-1', style:'font-size: 0.875rem;' %></span>
                    <span class="lead"><%= link_to "Repository", student.repository_link, target: '_blank', class:'btn btn-primary btn-small p-1 fw-bold mx-1', style:'font-size: 0.875rem;' %></span>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
