<div class="container mt-4">
  <div class="card border-0">
    <div class="card-title text-center my-3 bg-secondary-subtle p-3">
      <h1 class="text-center text-uppercase"><%= @lesson.title %></h1>
    </div>
    <div class="card-body">
      <p class="lead"><%= @lesson.content %></p>
     <h3 class="mt-4 mb-3"> <%= @comments.count %> Comments</h3>
      <%= render 'comments/form' ,commentable: @lesson %>
      <div class="py-3 px-3">
        <%= render 'comments/comment', comments: @comments, commentable: @lesson %>
      </div>
    </div>
  </div>
</div>