<div class="container mt-4">
  <div class="card border-0">
    <div class="card-title text-center my-3 bg-secondary-subtle p-3">
      <h1 class="text-center text-uppercase"><%= @lesson.title %></h1>
    </div>
    <div class="card-body">
      <p class="lead"><%= @lesson.content %></p>
      <div class="d-flex align-items-center justify-content-between">
        <h3 class="mt-4 mb-3"> <%= @comments.count %> Comments</h3>
        <div class="d-flex align-items-center bg-primary rounded-pill">
          <%= button_to course_lesson_likes_path(@course, @lesson, like_type: 1, likeable_type: "Lesson"), method: :post, class: "btn text-white fs-4" do %>
              <i class="fa-solid fa-thumbs-up"></i>
              <span><%= @like_count %></span>
          <% end %>
          <span class="fs-4 text-white"> | </span>
          <%= button_to course_lesson_likes_path(@course, @lesson, like_type: 2, likeable_type: "Lesson"), method: :post, class: "btn text-white fs-4" do %>
            <i class="fa-solid fa-thumbs-down"></i>
            <span><%= @dislike_count %></span>
          <% end %>
        </div>
      </div>
      <%= render 'comments/form' ,commentable: @lesson %>
      <div class="py-3 px-3">
        <%= render 'comments/comment', comments: @comments, commentable: @lesson %>
      </div>
    </div>
  </div>
</div>